<div class="main-container">
    <div class="title">
        <h1 *ngIf="carritoData && carritoData.productos.length > 0">Resumen de tus Productos:</h1>
        <h1 *ngIf="carritoData && carritoData.productos.length === 0">Tu carrito esta vacio :C</h1>
    </div>
    <div class="main-content">
        <div class="products">
        <div class="your-product" *ngFor="let producto of carritoData?.productos; let idx = index">
            <div *ngIf="producto.descuento == true" class="discount">-{{producto.porcentaje}}</div>
            <div class="image-product">
                <img src="{{imagesUrl + producto.imageurl}}" alt="" width="100px">
            </div>
            <div class="info-product">
                <div class="main-info"> 
                <h2>{{producto.nombre}}</h2>
                <span><strong>Precio Unitario:</strong>${{producto.preciototal}}</span>
                <span class="anteriorprice" *ngIf="producto.descuento == true">Precio anterior: ${{producto.preciototal}}</span>
                <div class="quantity">
                    <label for="cantidad">cantidad</label>
                    <input type="number" name="cantidad" id="canti" value="{{producto.cantidad}}" (change)="cantidadProducto($event, idx)">
                </div>
                <div class="buttons" [ngClass]="{'claseprueba': producto.descuento == false}">
                    <a (click)="deleteProduct(producto.idProducto)">Eliminar</a>
                    <a routerLink="/productos">Seguir comprando</a>
                </div>
                </div>
                <div class="price">
                    <span><strong>${{producto.preciototal * producto.cantidad}}</strong></span>
                </div>
            </div>
        </div>
        <div class="totalcompra">
            <span>Total: ${{carritoData?.monto}}</span>
        </div>
        </div>
        <div class="pay-bar-section">
            <div class="pay-container"> 
                <div class="pay-content">
                    <h3>Resumen de mi compra:({{productosCarri.length}} productos):</h3>
                    <p><span>Subtotal:</span> <span>${{montoSubtotal}}</span></p>
                    <p><span>Descuento:</span><span>${{descuentosDecimales}}</span></p>
                    <p><span>Costo de envio:</span> <span>$0.00</span></p>
                    <p class="code"><span>Codigo de promocion:</span> <span>$0.00</span></p>
                    <p><span>Total:</span><span>${{monto}}MXN</span></p>
                    <div class="button-pay" *ngIf="productosCarri.length > 0">
                        <button mat-raised-button routerLink="/Login">Proceder al Pago</button>
                    </div>
                </div>
                
            </div>
            <div class="other-products">
            </div>
        </div>
    </div>
</div>

