<div class="searchbar-container">
    <div class="searchbar">
        <div class="icon-search">
            <button><span class="material-icons">
                search
              </span></button>
        </div>
        <div class="bar">
            <input type="text" name="bar" id="bar" placeholder="Buscar producto">
        </div>
    </div>
    <div class="icon-cart">
        <mat-icon class="car_icon" matBadge="" matBadgeColor="warn" mat-button
          >shopping_cart</mat-icon>
    </div>
</div>
