
<!--Toolbar-->
<mat-toolbar>
    <div class="grid_tool">
        <div class="tool_logo">
            <img class="logo_h" src="../../../assets/img/logo.jpeg">
        </div>
        <div class="tool_menu">
            <button (click)="navegarPagina('index')" class="btn" mat-raised-button style="background: #FD9727; color: white;">
                <a class="txt_ext_link" href="https://olympus.arvispace.com">Inicio</a></button>
            <button (click)="navegarPagina('blog')" class="btn" mat-raised-button style="background: #FD9727; color: white;">
                <p class="txt_btn_footer">Blog</p></button>
            <button (click)="navegarPagina('tu-espacio')" class="btn" mat-raised-button style="background: #FD9727; color: white;">
                <a class="txt_ext_link" href="https://olympus.arvispace.com/espacioCliente/">Tu espacio</a></button>
            <button (click)="navegarPagina('sucursales')" class="btn" mat-raised-button style="background: #FD9727; color: white;">
                <a class="txt_ext_link" href="https://olympus.arvispace.com/sucursales">Sucursales</a></button>
            <button (click)="navegarPagina('sobre-nosotros')" class="btn" mat-raised-button style="background: #FD9727; color: white;">
                <p class="txt_btn_footer">Nosotros</p></button>
            
            <button (click)="navegarPagina('sucursales')" class="btn" mat-raised-button style="background: #FD9727; color: white;">
                <p class="txt_btn_footer">¡Registrate!</p></button>

        </div>
    </div>
</mat-toolbar>