<div class="body-component">
    <!--HEADER-->
    <div>
        <app-header></app-header>
    </div>

    <!--BODY-->
    <div>
        <br>
        <div class="grid">
            <div style="text-align:right;">
                <input class="input-wrapper" type="search" placeholder="Buscar"/>
                <button mat-raised-button class="button-search"
                    style="background-color: #f9a640; color: black; margin-right: 60px;">Buscar
                </button>    
            </div>
            <div style="text-align:center;">
                <button mat-raised-button class="button-search"
                    style="background-color: #df7e54; color: black; margin: 0 auto; font-size: 13px;">Historial compras
                </button> 
            </div>
        </div>

        <br>

        <!-- carrito.component.html -->
<div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Carrito</h1>
        <a routerLink="/products" class="btn btn-default">Productos</a>
        <br><br>
        <ng-template #emptyCart>
          <p class="alert alert-warning">El carrito está vacío.</p>
        </ng-template>
        <br><br><hr>
      </div>
    </div>
  </div>
  



    </div>
    
    <!--FOOTER-->
    <div>
        <app-footer></app-footer>
    </div>

