<mat-drawer-container class="example-container">
    <mat-drawer mode="side" opened>
        <div class="filters">
            <h2>Filtros</h2>
            <h3>Categoría</h3>
            <select>
              <option>Suplementos</option>
              <option>Bebidas</option>
              <option>Accesorios</option>
              <option>Ropa</option>
            </select>

            <div class="price_filter_container">
                <h3 class="precio_range">
                  Precio
                </h3>
                <span>Hasta $350</span>
                <span>$350 a $750</span>
                <span>$750 a $1500</span>
                <span>$1500 a $3000</span>
                <span>$3000 y mas</span>
            </div>
        </div>
    </mat-drawer>

<mat-drawer-content>
    <div class="product-grid" >
      <app-product></app-product>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
  
  
  