<mat-drawer-container class="example-container">
    <mat-drawer mode="side" opened>
        <div class="filters">
            <h2>Filtros</h2>
            <h3>Categoría</h3>
            <select (change)="onSelectChange($event)">
              <option value="">Selecciona una categoria</option>
              <option *ngFor="let category of categories">{{category.nombre}}</option>
            </select>

            <div class="price_filter_container">
                <h3 class="precio_range">
                  Precio
                </h3>
                <mat-radio-group [(ngModel)]="selectedOption" (change)="onOptionChange()">
                  <mat-radio-button *ngFor="let prices of preciosFilter; let first = first" [value]="prices.nombre">
                    {{prices.nombre}}
                  </mat-radio-button>
                </mat-radio-group>
            </div>
        </div>
    </mat-drawer>

<mat-drawer-content>
    <div class="product-grid" >
      <app-product></app-product>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
  
  
  