<div class="body">
    <!--<link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <script src="../../../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

    SE AGREGA EL HEADER-->
    <div class="header_component">
        <app-header></app-header>
      </div>

      <div class="content_page">
        <div class="margin_page">

            <div class="content_searchbar" >
                <mat-form-field appearance="outline" class="inputs_css">
                    <input type="text" matInput placeholder="Ingresa lo que quieres buscar" autocomplete="off" autofocus="" >
                    <mat-icon matSuffix>search</mat-icon>
                </mat-form-field>
            </div><!--cierra div content search bar-->
    
            <div class="grid_padre">
              

                <!--Inicia container dinámico de productos-->
                <div class="col-md-11 text-center">
                    <h1>Productos</h1>
                    <div class="btn"> <!-- Agrega la clase "mb-3" para agregar margen inferior -->
                        <button routerLink="/carrito" type="button" class="btn btn-warning">Ver Carrito</button>
                    </div><br><br>

                    <div class="tabla">
                        <table class="table table-bordered mx-auto">
                            <thead>
                                <tr>
                                    <th>Imagen</th>
                                    <th>Producto</th>
                                    <th>Precio</th>         
                                    <th></th>                           
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let product of productData">
                                    <td><img src="https://olympus.arvispace.com/assets/img/prods-img/shaker.jpg" alt="{{ product.name }} Image" width="100px"></td>
                                    <td>{{ product.name }}</td>
                                    <td>$ {{ product.price }}</td>
                                    <td style="width: 260px;">
                                        <button *ngIf="!product.agregado" class="btn btn-info" (click)="agregarAlCarrito(product.id)">Agregar al carrito</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <br><br>
                </div>                
            <!--Cierra container dinámico de productos-->
                
                  
            </div><!--cierre div grid padre-->
        </div><!--cierra div margin page-->
      </div><!--cierra div content page-->


    <!--SE AGREGA EL FOOTER-->
    <div class="footer_component">
        <app-footer></app-footer>
      </div>
</div><!--cierra contenedor body-->