<app-ecommerce-header></app-ecommerce-header>

<div class="container my-5">
    <div class="row" *ngfor="let data of productos">
        <div class="col-md-6">
           <img src="urlimg+{{data.imageurl}}" alt="" style="width: 400px;">
        </div>
        <div class="col-md-6">
            <mat-chip-option class="sal_art" color="warn" selected disabled>{{data.porcentaje}} % de descuento</mat-chip-option>
            <label class="tit_art"> {{data.nombre}} </label>
            <label class="cod_art">Código de producto: {{data.idProducto}} </label>
            <label class="pri_art" >$ {{data.precio}} </label>
            <label class="old_pri" >$ {{data.precio}} </label>
            <label class="new_pri" >$ {{data.preciototal}}</label>
            <div>
                <button mat-icon-button (click)="less()">
                    <mat-icon>remove</mat-icon>
                </button>
                <mat-form-field class="cantidad">
                    <mat-label>Unidades</mat-label>
                    <input matInput type="text" #qty [(ngModel)]="valorInput" [disabled]="inputDeshabilitado"
                        (keypress)="soloNumeros($event)">
                </mat-form-field>
                <button mat-icon-button (click)="add1()">
                    <mat-icon>add</mat-icon>
                </button>
            </div>

            <button mat-raised-button class="btn" style="background: #F9A640;"
                >Agregar al carrito</button>
            <button mat-raised-button class="btn">Comprar ahora</button>
        </div>
    </div>

    <div class="row my-5">
        <legend>Tambien te podría interesar...</legend>
        <div class="d-flex flex-row justify-content-center alig-items-center py-3 ">
            <div class="alert alert-light" role="alert" id="relacionados_content">
               <!-- <img class="relacionados_img" src="urlimg + dato.imageurl" alt="Image">-->
                <div class="content_title">
                    <label class="relacionados_title">dato.name</label>
                    <label class="relasionados_price">$ dato.price</label>
                </div>
                <button mat-raised-button style="background: #F9A640;" (click)="navegarPagina('23')">Ver</button>
            </div>
        </div>
    </div>

</div>