<app-ecommerce-header></app-ecommerce-header>
<div class="container my-5">
    <div class="row">
        <div class="col-md-6">
           <img src="{{urlimg + productos[0].imageurl}}" alt="{{productos[0].imageurl}}Image" style="width: 400px;">
        </div>
        <div class="col-md-6">
            <mat-chip-option class="sal_art" color="warn" selected disabled *ngIf="productos[0].porcentaje == 1">{{productos[0].porcentaje}} % de descuento</mat-chip-option>
            <label class="tit_art"> {{productos[0].nombre}} </label>
            <label class="cod_art">Código de producto: {{productos[0].idProducto}} </label>
            <label class="pri_art" *ngIf="productos[0].porcentaje != 1">$ {{productos[0].precio}} </label>
            <label class="old_pri" *ngIf="productos[0].porcentaje == 1">$ {{productos[0].precio}} </label>
            <label class="new_pri" *ngIf="productos[0].porcentaje == 1">$ {{productos[0].preciototal}}</label>
            <div>
                <button mat-icon-button (click)="less()">
                    <mat-icon>remove</mat-icon>
                </button>
                <mat-form-field class="cantidad">
                    <mat-label>Unidades</mat-label>
                    <input matInput type="text" #qty [(ngModel)]="valorInput" [disabled]="inputDeshabilitado"
                        (keypress)="soloNumeros($event)">
                </mat-form-field>
                <button mat-icon-button (click)="add1()">
                    <mat-icon>add</mat-icon>
                </button>
            </div>

            <button mat-raised-button class="btn" style="background: #F9A640;" (click)="addToCart(productos[0], valorInput)"
                >Agregar al carrito</button>
            <button mat-raised-button class="btn">Comprar ahora</button>
        </div>
    </div>

    <div class="row my-5">
        <h2>Detalles</h2>
        <p>{{productos[0].descripcion}}</p>
    </div>

    <div class="row my-5">
        <h2>Tambien te podría interesar...</h2>
        <div class="d-flex flex-row justify-content-center alig-items-center py-3 ">
            <div class="alert alert-light" role="alert" id="relacionados_content" *ngFor="let dato of relacionados.slice(0,4)">
               <img class="relacionados_img" src="{{urlimg + dato.imageurl}}" alt="Image">
                <div class="content_title">
                    <label class="relacionados_title">{{dato.nombre}}</label>
                    <label class="relasionados_price">$ {{dato.preciototal}}</label>
                </div>
                <button mat-raised-button style="background: #F9A640;" (click)="navegarPagina(dato.idProducto)">Ver</button>
            </div>
        </div>
    </div>

</div>