* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.product-card {
  flex-basis: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  border-radius: 10px;
  margin: 0.5rem;
  padding-block: 40px;
  }

  .product-card:hover {
    box-shadow: 3px 3px 15px #eee;
    cursor: pointer;
  }

.product-image {
  width: 250px;
  height: 250px;
  position: relative;
  display: flex;
}

.product-image img {
  width: 100%;
  height: 100%;
}

.product-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 30px;
}
  
.vista-rapida {
  background-color: #ccc;
  position: absolute;
  width: 100%;
  height: 50px;
  bottom: 5px;
  opacity: 0.9;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.product-card:hover .vista-rapida {
  display: flex;
}